<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tpwls.mapper.boardMapper">

	<select id="readAllBoard" resultType="BoardVO">
		select
		bno,title,content,writer,DATE_FORMAT(regdate,'%Y-%m-%d %H:%i') as regdate,viewcnt
		from tbl_board order by regdate desc
	</select>

	<insert id="insertBoard">
		insert into tbl_board (title,content,writer,viewcnt,latitude,longitude,address)
		values
		(#{title},#{content},#{writer},1,#{latitude},#{longitude},#{address})
	</insert>

	<select id="readBoard" resultType="BoardVO">
		select * from tbl_board where
		bno = #{bno}
	</select>


	<select id="upViewCount" resultType="BoardVO">
		update tbl_board
		set viewcnt
		= viewcnt + 1
		where bno = #{bno}
	</select>

</mapper>
